access_key           = "XXX"
secret_key           = "XXX"
region               = "XXX"
aws_db_username      = "XXX"
aws_db_password      = "XXX"
ssh_key_name         = "XXX"
ssh_public_key_path  = "XXX"
ssh_private_key_path = "XXX"
name                 = "XXX"
